.card-container{

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 90vw;
    width: 90vw;
    border-radius: 0px;
}

div{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.card-title{
    font-size: 30px;
    line-height: 36px;
    
}

.card-title > .thumbs{
    height: 30px;
    width: 30px;
}

.voting-buttons > .icon-button {
    height: 30px;
    width: 30px;
}

.voting-buttons > button > img{
    height: 15px;
    width: 15px;
}

.voting-buttons >.icon-button[aria-label="thumbs up"] {
    background-color: rgba(var(--color-green-positive), 1);
}

.voting-buttons >.icon-button[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative), 1);
}

.vote-button{
    height: 38px;
    color: #FFFFFF;
    background-color:  rgba(0, 0, 0, 0.6);
    border: 1px solid #FFFFFF;
    padding: 0 5%;
}

.percentage-bar{
    display: flex;
    white-space: nowrap;
    height: 36px;
    width: 100%;
}

.percentage-bar > .thumbs{
    height: 100%;
    font-size: 18px;
    color: #FFFFFF;
}

.percentage-bar > .thumbs > img{
    height: 15px;
    width: 15px;
}

.percentage-bar >  button{
    min-width: 70px;
}

.percentage-bar > .icon-button[aria-label="thumbs up"] {
    text-align: left;
    padding: 0 0 0 15px;
}

.percentage-bar > .icon-button[aria-label="thumbs down"] {
    padding: 0 15px 0 0;
    text-align: right;
}