<h2>Previous Rulings</h2>

 {{#unless (media 'isMobile')}}
 {{!--Aqui va el dd--}}
 {{/unless}}

{{!--Calling to Previous Ruling list--}}
<div class="{{if (media 'isMobile') 'card-container-mobile'}}
            {{if (media 'isTablet') 'card-container-tablet'}}
            {{if (media 'isDesktop') 'card-container-desktop'}}">
    {{#each this.data.data as |person|}}
        <Lists::PreviousRulingsItem @person = {{person}}/>
    {{/each}}
</div>
